@charset "utf-8";
@import "compass";
@import "media_queries";
@import url(http://fonts.googleapis.com/css?family=Port+Lligat+Slab|Titillium+Web|Griffy);

//font-family: 'Titillium Web', sans-serif;
//font-family: 'Griffy', cursive;

//prefix reset
$experimental-support-for-opera: false;
$experimental-support-for-microsoft: false;

/* sprite images
********************************************************************************/

$sprite-sprite-dimensions: true;
@import "sprite/*.png";
@include all-sprite-sprites;

/* common style
********************************************************************************/
body {
	background-image: inline-image("sprite/bg.png");
	background-repeat: repeat;
	font-size: 12px;
	color: #333333;
}

a {
	text-decoration: none;
	color: #333333;
}

h2 {
	font-family: 'Titillium Web', sans-serif;
	font-size: 20px;
	padding: 5px;
	color: #ff0099;
	background: rgba(0, 0, 0, 0.3);
	@include border-radius(5px);
}

.container {
	margin: 0 auto;
	padding: 5px;
	@include border-radius(5px);
	@include transition(all 0.5s ease);
	background: rgba(0, 0, 0, 0.3);
}
.header>.headerInner {
	padding-left:20px;
}
.headerInner>ul.socialArea>li {
	float: left;
}

.footer p {
	font-family: 'Titillium Web', sans-serif;
	font-size: 14px;
	color: #ffffff;
	text-align: center;
}

.mainLogo {
	font-family: 'Griffy', cursive;
	font-size: 36px;
	background: inline-image("sprite/logo_bg.png");
	padding: 5px 0;
}

#globalNav {
	@include transition(all 0.5s ease);
	height: 490px;
}

nav>ul>li>a {
	font-family: 'Port Lligat Slab', serif;
	font-size: 25px;
	padding-left: 5px;
}

nav>ul>li {
	border-top: 1px dotted #333333;
	padding-top: 10px;
	padding-bottom: 3px;
}

.item {
	margin: 5px;
	padding: 10px;
	font-size: 12px;
	@include border-radius(5px);
	background: #FFFFFF;
	-webkit-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 1);
	box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 1);
}

.col1 {
	width: 570px;
}

.col2 {
	width: 370px;
}

.col3 {
	width: 170px;
}

.item img {
	border-radius: 3px;
}

.news>dl~dl {
	border-top: 1px dotted #333333;
	margin-top: 10px;
}

/* spMobile & tablet
********************************************************************************/
.container {
	@include mq-custom(0, '540px') {
		border: none;
		background: none;
		padding: 0 10px;
	}
}

.container>* {
	@include mq-custom(0, '540px') {
		position: relative;
		margin-bottom: 10px !important;
	}
}

#globalNav {
	@include mq-custom('541px', '820px') {
		width: 570px;
		overflow: hidden;
		height: auto;
		.mainLogo {
			width: 208px;
			float: left;
			background-repeat: no-repeat;
			background-position: 142px 0px;
			height: 45px;
		}
		#dropNav {
			overflow: hidden;
		}
	}
	@include mq-custom(0, '540px') {
		width: 100%;
		height: auto;
	}
}

.item {
	@include mq-custom(0, '540px') {
		@include box-sizing(border-box);
	}
}

.col1, .col2, #globalNav {
	@include mq-custom('0', '540px') {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}

.spCols .col3 {
	@include mq-custom(0, '540px') {
		float: left;
		width: 48%;
		margin: 0;
	}
}

.spCols .col3:first-child {
	@include mq-custom(0, '540px') {
		margin-right: 16px;
	}
}

/* flexSlider
********************************************************************************/

.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: 10px;
	text-align: center;
}

.flex-control-nav li {
	margin: 0 6px;
	display: inline-block;
	zoom: 1;
}

.flex-control-paging li a.flex-active {
	background: #000;
	background: rgba(0, 0, 0, 0.9);
	cursor: default;
	@include transition(background 0.5s ease);
	&:hover {
		background: rgba(0, 0, 0, 0.3);
	}
}

.flex-control-paging li a {
	width: 11px;
	height: 11px;
	display: block;
	background: #666;
	background: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	text-indent: -9999px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.flex-direction-nav a {
	width: 35px;
	height: 35px;
	background: rgba(0, 0, 0, 0.3);
	@include border-radius(30px);
	margin: -20px 0 0;
	display: block;
	position: absolute;
	top: 50%;
	cursor: pointer;
	text-indent: -9999px;
	opacity: 0;
	-webkit-transition: all .3s ease;
}

.flex-direction-nav .flex-next {
	opacity: 1;
	right: 0;
	&:hover {
		right: 10px;
	}
	&:before {
		content: "";
		position: absolute;
		top: 25%;
		left: 35%;
		display: block;
		width: 17px;
		height: 20px;
		background-repeat: no-repeat;
		background-image: inline-image("sprite/icon_slide_next.png");
	}
}

.flex-direction-nav .flex-prev {
	opacity: 1;
	left: 0;
	&:hover {
		left: 10px;
	}
	&:before {
		content: "";
		position: absolute;
		top: 25%;
		left: 20%;
		display: block;
		width: 17px;
		height: 20px;
		background-repeat: no-repeat;
		background-image: inline-image("sprite/icon_slide_pre.png");
	}
}

/* drop down navi
********************************************************************************/
#dropNav>li {
	position: relative;
}

#dropNav ul {
	width: 200px;
	height: 300px;
	position: absolute;
	background-color: #ffffff;
	@include border-radius(5px);
	border: 1px solid #dddddd;
	left: 190px;
	top: -10px;
	z-index: 1000;
}

#dropNav ul>li.navBalloon {
	position: absolute;
	background: inline-image('sprite/icon_balloon.png');
	background-repeat: no-repeat;
	top: 15px;
	left: -23px;
	width: 25px;
	height: 29px;
}








