@charset "utf-8";
@import "compass";

//prefix reset
$experimental-support-for-opera:false;
$experimental-support-for-microsoft:false;

/* reset css
------------------------------------------------------------*/
@include global-reset;
body {
	height: 100%;
	min-height: 100%;
	font-weight: normal;
	text-decoration: none;
}
a, img {
	border:none;
	outline: none;
}

/* clear fix
------------------------------------------------------------*/
.cFix {
	@include legacy-pie-clearfix;
}

/* import general class
------------------------------------------------------------*/
@import "general";












